.card {
    width: 100%;
    margin-bottom: 60px;
}
form.item-form {
    margin-top: 16px;
}
h2.shop-h2 {
    text-align: center;
    padding: 30px 0;
    background: #efefef;
    border-radius: 6px;
    margin-bottom: 60px;
    color: #848484;
    font-weight: 700;
    text-transform: uppercase;
}
li.list-group-item.active a {
    color: #fff;
}
li.list-group-item:hover {
    background: #076fae;
}
li.list-group-item:hover a{
    color: #fff;
}
.col-12.right-bott {
    text-align: right;
    margin: 30px 60px 30px 0;
}
button.btn.btn-success a {
    color: #fff;
}
td.table-buttons {
    display: flex;
}
td.table-buttons a.btn.btn-primary {
    margin: 0 5px;
}
h3.center-title {
    text-align: center;
    margin: 20px 0 60px;
}
.paginate {
    width: 100%;
    margin: 20px;
}
.alert.alert-success {
    text-align: center;
    margin: 20px auto;
    width: 100%;
}
img.card-img-edit {
    width: 70px;
    margin: 10px;
}
span.span-title {
    font-weight: 900;
    color: #3cb003;
}
a.modal-link {
    color: #fff;
}
form button.btn.btn-success {
    margin-top: 20px;
}
img.card-img-top.cart-img {
    width: 50px;
}
.text-body {
    margin: 20px 0;
    padding: 40px 10px;
    font-size: 18px;
    text-align: center;
    background: #f3f3f345;
}
i.fa.fa-shopping-cart {
    font-size: 26px;
}
.order-total {
    text-align: right;
    padding: 60px;
}
span.total-price {
    font-weight: 900;
}
.ordeer-total {
    padding: 0px 15px;
}
li.orders {
    list-style: none;
    padding: 6px 20px;
    margin: 15px;
    border: 1px solid #dfdfdf;
    background: #fafafa;
}
.ordeer-total ul {
    margin: 0;
    padding: 0;
}
li.orders a {
    color: #3f3f3f;
    font-size: 18px;
    font-weight: 500;
}
span.span-order {
    font-weight: 700;
}
h5.card-title {
    margin-top: 20px;
    text-transform: uppercase;
}
span.count-header-cart {
    position: relative;
    top: -12px;
    left: 15px;
    color: #ccc;
}
span.count-header-cart {
    position: relative;
    top: 10px;
    left: 9px;
    background: #33ca33;
    color: #ffffff;
    width: 13px;
    height: 16px;
    border-radius: 50%;
    display: block;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    font-weight: bolder;
}
a.nav-link.cart {
    position: absolute;
    top: -7px;
}
